<div class="select-none ng-cloak">
    <div class="embed-responsive embed-responsive-16by9">
        <video width="100%" height="100%" ng-src="{{vrplayer.src}}"></video>
    </div>
    <div class="custom-controls">
        <a class="btn btn-link" ng-click="vrplayer.togglePlay()">
            <i ng-class="vrplayer.isVideoPlaying ? 'glyphicon glyphicon-pause' : 'glyphicon glyphicon-play'"></i>
        </a>
        <a class="btn btn-link" ng-click="vrplayer.stop()"><i class="glyphicon glyphicon-stop"></i></a>
        <a class="btn btn-link" ng-click="vrplayer.toggleMute()">
            <i ng-class="vrplayer.isMuted ? 'glyphicon glyphicon-volume-off' : 'glyphicon glyphicon-volume-up'"></i>
        </a>
    </div>
</div>