<navigation page="{{home.page}}"></navigation>

<div class="page-header">
    <h1>{{home.content.heading}}</h1>
    <small>{{home.content.subContent}}</small>
</div>

<cubenado count="home.count" speed="home.speed"></cubenado>

<div class="col-xs-4 pull-right ng-cloak clearfix">
    <fieldset class="form-group pull-left">
        <label for="numberOfCubes">Count [{{home.count}}]</label>
        <input type="range" id="numberOfCubes" name="count" min="10" max="10000" step="10" ng-model="home.count" />
    </fieldset>
    <fieldset class="form-group pull-right">
        <label for="randomness">Speed [{{home.speed}}]</label>
        <input type="range" id="randomness" name="speed" min="1" max="20" step="1" ng-model="home.speed" />
    </fieldset>
</div>